# SoomRV Buildroot overlay (OpenSBI upstream trial)
# Append to buildroot/.config after: make qemu_riscv32_virt_defconfig
# Then run: make olddefconfig

BR2_ARCH="riscv32"
BR2_ARCH_HAS_TOOLCHAIN_BUILDROOT=y
BR2_ARCH_NEEDS_GCC_AT_LEAST_4_8=y
BR2_ARCH_NEEDS_GCC_AT_LEAST_4_9=y
BR2_ARCH_NEEDS_GCC_AT_LEAST_5=y
BR2_ARCH_NEEDS_GCC_AT_LEAST_6=y
BR2_ARCH_NEEDS_GCC_AT_LEAST_7=y
BR2_GCC_TARGET_ABI="ilp32"
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="kernel.config"
# BR2_LINUX_KERNEL_CUSTOM_VERSION is not set
BR2_LINUX_KERNEL_GZIP=y
BR2_LINUX_KERNEL_IMAGE=y
# BR2_LINUX_KERNEL_IMAGE_TARGET_CUSTOM is not set
BR2_LINUX_KERNEL_LATEST_VERSION=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_VERSION="6.3.4"
BR2_PACKAGE_BUSYBOX_CONFIG="busybox.config"
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES=""
BR2_RISCV_32=y
# BR2_RISCV_64 is not set
BR2_RISCV_ABI_ILP32=y
BR2_RISCV_ISA_CUSTOM_RVA=y
BR2_RISCV_ISA_CUSTOM_RVC=y
# BR2_RISCV_ISA_CUSTOM_RVF is not set
BR2_RISCV_ISA_CUSTOM_RVM=y
BR2_RISCV_ISA_RVA=y
BR2_RISCV_ISA_RVC=y
BR2_RISCV_ISA_RVI=y
BR2_RISCV_ISA_RVM=y
BR2_TARGET_OPENSBI=y
BR2_TARGET_OPENSBI_ADDITIONAL_VARIABLES=""
BR2_TARGET_OPENSBI_CUSTOM_GIT=y
BR2_TARGET_OPENSBI_CUSTOM_REPO_URL="https://github.com/riscv-software-src/opensbi"
BR2_TARGET_OPENSBI_CUSTOM_REPO_VERSION="master"
# BR2_TARGET_OPENSBI_CUSTOM_TARBALL is not set
# BR2_TARGET_OPENSBI_CUSTOM_VERSION is not set
BR2_TARGET_OPENSBI_INSTALL_DYNAMIC_IMG=y
BR2_TARGET_OPENSBI_INSTALL_JUMP_IMG=y
BR2_TARGET_OPENSBI_INSTALL_PAYLOAD_IMG=y
# BR2_TARGET_OPENSBI_LATEST_VERSION is not set
# BR2_TARGET_OPENSBI_LINUX_PAYLOAD is not set
BR2_TARGET_OPENSBI_PLAT="template"
BR2_TARGET_OPENSBI_VERSION="master"
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_CPIO_BZIP2 is not set
# BR2_TARGET_ROOTFS_CPIO_DRACUT is not set
BR2_TARGET_ROOTFS_CPIO_FULL=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
# BR2_TARGET_ROOTFS_CPIO_LZ4 is not set
# BR2_TARGET_ROOTFS_CPIO_LZMA is not set
# BR2_TARGET_ROOTFS_CPIO_LZO is not set
# BR2_TARGET_ROOTFS_CPIO_NONE is not set
# BR2_TARGET_ROOTFS_CPIO_UIMAGE is not set
# BR2_TARGET_ROOTFS_CPIO_XZ is not set
# BR2_TARGET_ROOTFS_CPIO_ZSTD is not set
# BR2_TARGET_ROOTFS_EXT2 is not set
BR2_TARGET_ROOTFS_EXT2_BLOCKS=0
BR2_TARGET_ROOTFS_EXT2_EXTRA_BLOCKS=0
BR2_TARGET_ROOTFS_EXT2_EXTRA_INODES=0
BR2_TARGET_ROOTFS_INITRAMFS=y
# Keep custom OpenSBI git source usable on newer Buildroot releases.
# BR2_DOWNLOAD_FORCE_CHECK_HASHES is not set
